In [1]:
import pandas as pd

import matplotlib.pyplot as plt

from tensorflow import keras
from keras.preprocessing.text import Tokenizer

import pickle
import numpy

In [5]:
with open('tokenizer.pickle', 'rb') as handle:
    tokenizer = pickle.load(handle)

In [21]:
stats = pd.read_csv('stats.csv')
stats.drop('Unnamed: 0', inplace=True, axis=1)

In [76]:
stats

,0,1,2,3,4,5,6,7,8,9,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,class
0,0.0,1.0,0.0,4.0,0.0,0.0,0.0,1.0,0.0,2.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,1.0,3.0,0.0,1.0,1.0,0.0,1.0,2.0,2.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0
2,0.0,4.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
4,0.0,3.0,0.0,6.0,1.0,2.0,0.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2957,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,1.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
2958,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
2959,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
2960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
2961,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3

In [60]:
word_indexes = pd.Series(tokenizer.word_index).reset_index().rename(columns={'index': 'word', 0: 'index'})
word_indexes['index'] = word_indexes['index'].astype(float)

In [72]:
stats_math = stats.loc[stats['class'] == 0]
stats_math.drop('class', inplace=True, axis=1)
stats_math = stats_math.sum().reset_index().rename(columns={0: 'sum'})
stats_math['index'] = stats_math['index'].astype(float)
stats_math = pd.merge(stats_math, word_indexes, how='left', on=['index'])
stats_math.sort_values(by='sum', ascending=False)

C:\Users\zayse\AppData\Local\Temp\ipykernel_16888\2800018563.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats_math.drop('class', inplace=True, axis=1)

       index     sum          word
1        1.0  4898.0           егэ
3        3.0  3384.0           мем
7        7.0  2779.0     олимпиада
11      11.0  1750.0           огэ
21      21.0  1738.0    математика
...      ...     ...           ...
8010  8010.0     0.0  standoffdrop
8009  8009.0     0.0         лиски
8008  8008.0     0.0         марат
8007  8007.0     0.0    xolidayboy
5000  5000.0     0.0        клинцы

[10000 rows x 3 columns]

In [73]:
stats_bio = stats.loc[stats['class'] == 1]
stats_bio.drop('class', inplace=True, axis=1)
stats_bio = stats_bio.sum().reset_index().rename(columns={0: 'sum'})
stats_bio['index'] = stats_bio['index'].astype(float)
stats_bio = pd.merge(stats_bio, word_indexes, how='left', on=['index'])
stats_bio.sort_values(by='sum', ascending=False)

C:\Users\zayse\AppData\Local\Temp\ipykernel_16888\849220076.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats_bio.drop('class', inplace=True, axis=1)

       index   sum              word
172    172.0  19.0         петербург
259    259.0  11.0             санкт
322    322.0  10.0               спб
51      51.0   8.0         искусство
4        4.0   8.0              язык
...      ...   ...               ...
3571  3571.0   0.0          активный
3572  3572.0   0.0              ooes
3573  3573.0   0.0  dextromethorphan
3574  3574.0   0.0           девятый
9999  9999.0   0.0            police

[10000 rows x 3 columns]

In [74]:
stats_foreign = stats.loc[stats['class'] == 2]
stats_foreign.drop('class', inplace=True, axis=1)
stats_foreign = stats_foreign.sum().reset_index().rename(columns={0: 'sum'})
stats_foreign['index'] = stats_foreign['index'].astype(float)
stats_foreign = pd.merge(stats_foreign, word_indexes, how='left', on=['index'])
stats_foreign.sort_values(by='sum', ascending=False)

C:\Users\zayse\AppData\Local\Temp\ipykernel_16888\407781144.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats_foreign.drop('class', inplace=True, axis=1)

       index     sum        word
1        1.0  6208.0         егэ
2        2.0  4180.0        2022
4        4.0  3807.0        язык
5        5.0  3466.0  английский
6        6.0  2271.0      вебиум
...      ...     ...         ...
8666  8666.0     0.0         404
8667  8667.0     0.0        плюм
8669  8669.0     0.0         ez4
8670  8670.0     0.0    memeblog
9999  9999.0     0.0      police

[10000 rows x 3 columns]

In [75]:
stats_engineer = stats.loc[stats['class'] == 3]
stats_engineer.drop('class', inplace=True, axis=1)
stats_engineer = stats_engineer.sum().reset_index().rename(columns={0: 'sum'})
stats_engineer['index'] = stats_engineer['index'].astype(float)
stats_engineer = pd.merge(stats_engineer, word_indexes, how='left', on=['index'])
stats_engineer.sort_values(by='sum', ascending=False)

C:\Users\zayse\AppData\Local\Temp\ipykernel_16888\2299686978.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats_engineer.drop('class', inplace=True, axis=1)

       index     sum       word
1        1.0  2283.0        егэ
2        2.0  1917.0       2022
6        6.0  1105.0     вебиум
19      19.0   984.0     физика
3        3.0   928.0        мем
...      ...     ...        ...
8302  8302.0     0.0  institute
8301  8301.0     0.0  пастернак
8300  8300.0     0.0      орига
8299  8299.0     0.0      moshi
9999  9999.0     0.0     police

[10000 rows x 3 columns]